/*#region fonts*/
.t1{
    font-size: 22px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-style: normal;
}

.t2{
    font-size: 15px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-style: normal;
}
.p1{
    font-size: 15px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-style: normal
}
.p2{
    font-size: 12px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-style: normal
}
/*#endregion fonts*/

/*#region colors*/
.backgroundColor{
    background-color: whitesmoke;
}
.color1{
    color: #888888;
    /*color: #808080;*/
}
.accent1{
    color: #A349A4;
}
/*#endregion colors*/

/*#region masterlayout*/
body, header, footer, #main{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}﻿

body {
    overflow: hidden;
}
#main{
    overflow: hidden;
}
header{
    width: 100%;
    height: 27.5vh;
    display: table;
}
.headerContent{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 0.95;
    white-space: nowrap;
}
.headerLinks{
    list-style-type: none;
    margin-left: 35px;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.headerLink{
    float: left;
    width: 70px;
    text-align: left;
}
a{
    text-decoration: none;
}
.abc{
    display: block;
    margin-top: 12px;
}
.abc:hover, .abc:hover > .hiddenLink{
    color: #A349A4;
    opacity: 1;
}

.hiddenLink{
    opacity: 0;
}
.hiddenLink:hover{
    opacity: 1;
    color: #A349A4;
}

footer{
    width: 100%;
    height: 19.5vh;
}
div.footerElements{
    width: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 5%;
    text-align: center;
    color: #888888;
    transform: scale(1,1);
    opacity: 1;
}

/*#endregion masterlayout*/

/*#region homepage*/
#horizontalScrollContent{
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    margin: 0;
    padding: 0;
} 

#pieceListItem{
    display: inline-block;
    margin: 2px 2px 7px 2px;
    position: relative;
}

#pieceListItem img{
    height: 50vh;
    border: 2px solid #808080;
    padding: 0;
    margin: 0;
    vertical-align: top;
    position: relative;
    display: block;
}

#pieceListItem div{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-color: #888888;
	opacity:0;
	transition: all 0.3s ease-in 0s;
    overflow: hidden;
    display: flex;
}

#pieceListItem span{
    font-size: 22px;
    opacity: 0;
    transform: scale(1.6);
	transition: all 0.3s ease-in 0s;
    position: absolute;
    top: 35%;
    width: 100%;
    color: whitesmoke;
    display: block;
    text-align: center;
    white-space: pre-wrap;
    text-transform:uppercase;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-style: normal;
}

#pieceListItem:hover div{
    opacity:0.5; 
	transition-delay: 0s;
}


#pieceListItem:hover span{
	opacity:1; 
    transform: scale(1);
	transition-delay: 0s;
}

::-webkit-scrollbar{
    height: 7px;
}

::-webkit-scrollbar-track {
      background-color: #f0f0f0;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: #e0e0e0; 
} /* this will style the thumb, ignoring the track */
 

ul.li.img:hover{
    opacity: 0.6;
} 

/*#endregion homepage*/

/*#region aboutpage*/
#about{
    opacity: 1;
    width: 40vw;
    margin: auto;
    padding: 0;
}
#bioPic{
    width: 40vw;
    opacity: 0.7;
}
/*#endregion aboutpage*/

/*#region contactpage*/
#contact{
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    display: table;
}
.logoContent{
    display: table-cell;
    vertical-align: middle;
    padding: 75px 0px 0px 0px;
}
.logo{
    width: 100px;
    height: 100px;
    padding: 5px;
    opacity: 0.4;
    transition: all 0.2s ease-in 0s;
}
.logo:hover{
    opacity: 0.9;
}
/*#endregion contactpage*/